<%- include("header") -%>

        <p> <%= nothing %> </p>
        <p class="lead">Search weather by name of city </p>
        <form action="/" method="post">
            <input type="text" name="cityName" placeholder="City Name" class="cityName">
            <button type="submit" class="btn btn-sm btn-secondary">Search</button>
        </form>
    </main>

<%- include("footer") -%>